<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/meta :: head(title=${author.getFullName()})"></th:block>
</head>
<body class="container">
<header th:replace="fragments/header :: header ('author')"></header>
<div class="row">
    <h1 th:text="${author.getFullName()}"></h1>
</div>
<div class="row">
    <h2 th:text="${author.getBirth()} + ' - ' + ${author.getDeath()}"></h2>
</div>
<div class="row">
    <table class="table" th:replace="fragments/books :: bookTable(${author.getBooks()})"></table>

</div>
</body>
</html>